<!DOCTYPE html>
<html>
<head>
  <title>GCampJoshQuesenberry</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">gCamp</a>
        <!--</div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>--><!--/.navbar-collapse -->
      <!--</div>
    </nav>-->

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>gCamp</h1>
        <p>Your life, organized.</p>
        <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Tasks</h2>
          <p>Grouped by projects and lists. Just the way you like 'em</p>
          <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>-->
        <div class="col-md-4">
          <h2>Permissions</h2>
          <p>Fine-grained permissions</p>
          <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>-->
        <div class="col-md-4">
          <h2>Comments</h2>
          <p><ul><li>Comment on tasks and documents</li></p>
          <p><li>Get email notifications</li></ul></p>
          <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>-->
      </div>

      <hr>

      <!--<footer>
        <p>&copy; Company 2014</p>
      </footer>-->
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>




<%= yield %>

</body>
</html>
